<md-card>
	<form name="registerForm" layout="column" >
	  <div layout="row">
	    <div class="wrapper-image-profile" layout="row" flex-sm="25">
	    	<div ng-show="showProfileImage"  ng-file-select ng-model="file" multiple="false">
	            <img ng-src="{{srcImageProfile}}" class="face" alt="{{user.username}}">
	    	</div>
			<div ng-hide="showProfileImage"   ng-file-select ng-model="file" multiple="false"  >
				<img ng-src="/assets/anonymousUser.png" class="face" alt="{{user.username}}">
			</div>
	    </div>				
		<div layout="row" class="info-user-profile" layout-align="space-between start">
			<div layout="column" class="bio-block">
			    <div class="username">
				 <md-input-container  md-no-float>
			      <label class="title"></label>
			      <input ng-model="user.username" placeholder="Username?">
			    </md-input-container  md-no-float>
		      	</div>
		  		<div class="bio">
		  			
		  	    <md-input-container md-no-float>
			      <label class="title"></label>
			      <input ng-model="user.bio" placeholder="Bio">
			    </md-input-container>
	      		</div>
			</div>
			<!-- <div>
				<md-button  ng-click="updateUser()"  class="md-fab profile-button" aria-label="Edit Profile">
					<md-icon  md-svg-src="/assets/ic_done_white_36px.svg"></md-icon>
				</md-button>
			</div> -->
    	</div> 
	  </div> 
	  <div layout="column" class="profile-user" >
		  <!--<div class="profile-header"s>
		  	Profile
		  </div>-->
		  <div layout="column" >
		        <div class="age" layout="column">
		          <label class="title"> Age? </label>
		       		          
		           <md-select placehodler="What is your " ng-model="user.age">
			          <md-option ng-repeat="age in ages" value="{{age}}">{{age}}</md-option>
			        </md-select>
		        </div>
		        
		        
		        <!-------------- SKIN TONES -------------->
		        <label class="title"> Skin Tone?</label>
		        <md-radio-group class="skin-tones" ng-model="user.skin_tone" layout="row" layout-wrap>
			      <md-radio-button ng-repeat="it in avatarData"
			                       ng-value="it.value"
			                       aria-label="{{it.title}}" >
			          <img ng-src="{{it.img}}" class="avatar" alt="{{it.title}}">

			      </md-radio-button>
			     
			    </md-radio-group>
			    
			    <!-------------- SKIN TYPES -------------->
				 <label class="title"> Skin Type?</label>
		        <md-radio-group ng-model="user.skin_type" class="md-primary">
        <md-radio-button ng-repeat="skin_type in skin_types"
                         ng-value="skin_type.value">
            {{ skin_type.title }}<br/>
        
        </md-radio-button>
    </md-radio-group>
		   
				<!-------------- SKIN PROBLEMS -------------->
				 
				<label class="title">Skin Problems?</label>
		        <div ng-repeat="skin_problem in user.skin_problems | orderBy:'name'">
		          <md-checkbox class="skin-problem-checkbox" ng-model="skin_problem.state" aria-label="skin_problem.name">
		            {{skin_problem.name}}
		          </md-checkbox>
		        </div>
		        
		        <!-------------- EYES -------------->
		        
		        <label class="title">Eye colors?</label>
		        <md-radio-group ng-model="user.eye_color" class="md-primary">
        <md-radio-button ng-repeat="eye_color in eye_colors"
                         ng-value="eye_color.value">
            {{ eye_color.title }}<br/>
        
        </md-radio-button>
    </md-radio-group>
		        
		        <!-------------- SOCIAL LINKS -------------->
		        
		        <label class="title"> Social Links </label>
		        <md-input-container class="input-youtube-channel">
			      <label>Youtube URL Channel</label>
			      <input ng-model="user.youtube_channel">
			    </md-input-container>
		        <md-input-container>
			      <label>Instagram Username</label>
			      <input ng-model="user.instagram_profile">
			    </md-input-container>
		        
		          <div layout="row" class="submit-button"  layout-align="end center">
						<md-button  ng-click="updateUser()"  class="md-raised md-primary">SUBMIT</md-button>  
			        </div>
		        
		        
		  </div>
		</div>

	  
	</form>  
</md-card>




			