<md-card>
	<div layout="column" >
		
		<!-- HEADER PROFILE USER --> 
		<div layout="row" itemscope itemtype="http://schema.org/Person" > 
			<div class="wrapper-image-profile"  layout="column" flex-sm="25">
						<div ng-show="user.hash_url_image" class="md-tile-left">
					    	<img ng-src="https://{{cdn}}/profile_images_{{enviroment}}/{{user.hash_url_image}}" class="face" alt="{{user.username}}">
						</div>
					    <div ng-show="!user.hash_url_image" class="anonymous-image md-tile-left">
					    	<img ng-src="/assets/anonymousUser.png" class="face" alt="{{user.username}}">
						</div>
					    
				</div>  
			<div class="info-user-profile" layout="row" layout-align="space-between start">
				<div layout="column" class="bio-block">
					    <div class="username">
					    	 <span class="title" itemprop="name"> {{user.username}} </span>
					    </div>
					    <div class="bio sub-head">
					      <span ng-show="user.bio" itemprop="description"> {{user.bio}}</span>
					    </div>
					    <div class="social-links" layout="row" >
						
							<a ng-show="user.youtube_channel" ng-href="{{user.youtube_channel}}" target="_blank"><img  id="youtube-logo" ng-src="/assets/youtube_logo.png" alt="Youtube Profile"></a>
							<a ng-show="user.instagram_profile" ng-href="https://instagram.com/{{user.instagram_profile}}" target="_blank"><img ng-show="user.instagram_profile" id="instagram-logo" ng-src="/assets/instagram_logo.png" alt="Instagram Profile"> </a>
					    </div>						
						<div class="user-biometric">
							<p>		
								{{biometrics}}
							</p>
					    </div>
				</div> 
				<div>
					<md-button  ng-href="/edit_profile"  ng-click="getS3PolicyDocument()" ng-show="user.isProfileAuthenticated" class="md-fab profile-button" aria-label="Edit Profile">
							<md-icon  md-svg-src="/assets/ic_edit_white_36px.svg"></md-icon>
					</md-button>
				</div>
			</div>	
		</div>	
		
		<div class="all-comments count-reviews  title "  layout="row"> Reviews ({{reviews.length}}) </div>

		<!-- LIST OF REVIEWS -->
		<md-list> 
			<md-list-item ng-repeat="review in reviews | orderBy: '-created_at'"  ng-click="goToProduct(review.product_id)" >
				<div class="review-item" layout="row"  layout-align="start start" flex="100">
					<div class="md-list-item-image user-review-image"  >
						<img ng-click="goProfile(review.user_id)" ng-src="https://{{cdn}}/images_products/{{review.product.hash_url_image}}.jpg" class="md-avatar not-outline"> 
					</div>
					<div class="md-list-item-text review-text" layout="column" layout-align="start start">	
							<div class="header-review" layout="row" layout-align="space-between center" >	
								<div layout="row" layout-align="start center">
								    <img src="/assets/happy_cupcake.png" ng-show="review.repurchase" class="check-mark " alt="Repurchase again">
									<img src="/assets/sad_cupcake.png" ng-show="!review.repurchase" class="check-mark " alt="Repurchase again">
									<p class="user-name-review-product"> {{review.product.product_name | limitLength:20:$root}}</p>
								
								</div>
								<div class="date-review hint-text"> {{review.created_at | fromNow}}</div>
							</div>
							<div class="review-body margin-top-rem">
								<p class="wordwrap">{{review.body}}</p>
							</div>
							<div class="footer-review" layout="row" class="margin-top-rem" layout-align="space-between center" >
								<div class="ratings"  itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
									<rating ng-model="review.stars"  readonly="true"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>																	
									<meta content="review.stars" itemprop="ratingValue">

								</div>
								<div class="thumbs-up" >
								<span   class="fa fa-thumbs-o-up" ng-click="incrementUpvotes(review.id,$index)">  </span>
								<span> {{review.votes.length}} </span>
							</div> 
						</div>
			    	</div>
				</div>
			</md-list-item>
		</md-list>	
	</div>
 </md-card>

