<div align="center center" class="reviews" layout="column" layout-padding>
	<div layout="row" id="first-row" layout-sm="column"  layout-align="space-between start">
		<div class="review-card-wrapper" flex="50">
			<review-card review="products[0]" index="0"> </review-card>
			<hr>
		</div>
		<div class="review-card-wrapper" flex="50">
			<review-card review="products[1]" index="1" > </review-card>	
			<hr>
		</div>
	</div>
	<div layout="row"  layout-sm="column" layout-align="space-between start" >
		<div class="review-card-wrapper" flex="50" layout="row">
			<review-card review="products[2]" index="2" > </review-card>		
		</div>
		<div class="review-card-wrapper" flex="50" layout="row">
			<review-card review="products[3]" index="3" > </review-card>
		</div>		
	</div>
</div>
  



				