<md-card>
	<md-list  class="products-list" layout="column">
			<md-list-item  itemscope itemtype="http://schema.org/Product" ng-repeat="product in products" ng-click="goToProductState('products',product.id)" >
				<div  class="md-list-item-text" layout="row" layout-align="space-around center" flex="100" >
			        <div   id="image-product" flex-sm="16" flex-gt-sm="20">
			        	<a ng-href="/products/{{product.id}}"> <img itemprop="image" ng-src="https://{{cdn}}/images_products/{{product.hash_url_image}}.jpg" class='md-avatar' alt="{product.product_name}"></a>
			        </div>  
					<div id="product-info" class="md-tile-content" layout="column"  flex-sm="50" flex-gt-sm="50" >
						<div id="name-product " class="wordwrap"><h2 class="title" itemprop="name">{{product.product_name | limitLength:22}}<span></span></h2></div>
						<div id="brand-name"><h3 class="sub-head" itemprop="brand">by {{product.brand_name}}</h3></div>
						<div class="ratings">    
							   <rating ng-model="product.product_stars"  readonly="true"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>
		        		</div>
					</div>
					<div  class="wrapper-rate-approval" layout="column"  layout="column" layout-align="space-around center"  flex-gt-sm="20">
						      <div class="repurchase-percent "> 
						      <span>{{ product.rating | number:0 }} </span> <span ng-hide="product.buyers ==0 && product.not_buyers ==0"> % </span>
						      </div>
							  <div ng-hide="product.buyers ==0 && product.not_buyers ==0" class="approval-rate"> 
								  REPURCHASE
							  </div>
							  <div ng-show="product.buyers ==0 && product.not_buyers ==0" class="approval-rate"> 
								  We don't have approval rate for this product
							  </div>
					</div>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>

			  <md-button id="load-more-product" ng-hide='paginator.ended' ng-click='paginator.nextPage()' class="md-raised md-primary">Load more products</md-button>
			  
			  <div class='not-found' ng-show='paginator.ended' layout="column" layout-align="space-between center" > 
				  <div class="amatic-pink" > 
					  
					  YOUR PRODUCT WAS NOT FOUND
				  </div>
				  
				  <div id="cupcake">				      
				      <img src='/assets/sad_cupcake_with_tear_big.png' alt="No more products in the database">
				  </div>
				  
				  <div id="request-products">
					  <md-button    class="md-raised md-primary" ng-click="dialogRequestProduct()" >REQUEST IT</md-button>  
				  </div>
				  
				  
		     </div>
			  
</md-card>
