<div>
	<div class="" ng-controller="NavCtrl" layout="row" >
	    <div hide-sm hide-md  class="home" id="logo"> <div class="left amatic" ><a  href="/"> Murnow</a> </div></div>
	    <div show-sm show-md hide-gt-md class="home" id="logo"> <div class="left amatic" ><a  href="/"> M </a> </div></div>	 
	    <div class="form-wrapper-search"><form id="search-bar-not-home-page" ng-submit="ctrl.submittingTextSearch(ctrl.searchText)" ng-controller="SearchCtrl as ctrl" >
			<md-autocomplete
						          ng-disabled="ctrl.isDisabled"
						          md-no-cache="ctrl.noCache"
						          md-selected-item="ctrl.selectedItem"
						          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
						          md-search-text="ctrl.searchText"
						          md-selected-item-change="ctrl.selectedItemChange(item)"
						          md-items="item in ctrl.querySearch(ctrl.searchText)"
						          md-item-text="item.product_name"
						          md-min-length="100"
						          md-autofocus="true"
						          placeholder="Find the best makeup products!">
						            <img ng-src="https://d1sngtnp6jnqhe.cloudfront.net/{{item.hash_url_image}}" class='md-avatar' alt="{item.product_name}" with="25" height="25">
						        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.product_name}}</span>
			</md-autocomplete>
     </form></div>
	  <!-- Nav when you are not authenticated --> 
	  <div class="mainNav" ng-show="!signedIn()">
		    <md-button hide id="login-button" ng-click="showDialogLogin()" >Log In</md-button>
		    <md-button id="join-button" ng-click="showDialogRegister()">Join</md-button>
		    
	  </div>
	  
	  <div>
  	  <!-- Nav when you are authentificated --> 
  	  	<md-menu class="mainNav" id="menu" md-offset="-20 50" ng-show="signedIn()" >
             <md-button  class="my-icon-button" md-menu-origin  ng-click="$mdOpenMenu()" >
		    	<img ng-show="user.hash_url_image"  ng-src="https://{{cdn}}/profile_images_{{enviroment}}/{{user.hash_url_image}}" class="face" alt="{{user.username}}">	
		    	<img ng-show="!user.hash_url_image"  ng-src="/assets/anonymousUser.png" class="face no-face" alt="Anonymous user">
		    	<img ng-src="/assets/arrow-down.svg"   class="svg18 arrow" ></md-icon>
			 </md-button>
			<md-menu-content width="2">
	            <md-menu-item>
	            	<md-button ng-click="goToProfile(user.id)">Profile</md-button>
	            </md-menu-item>
	            <md-menu-item>
	           	 	<md-button  ng-click="logout()" id="logout" >Log Out</md-button>
	            </md-menu-item>
			</md-menu-content>
        </md-menu>
	  	</div>	
		  
	</div>
</div>

   		
     
       
			
