<md-card itemscope itemtype="http://schema.org/Product"> 
	<div  class="product-profile" layout="column" layout-align="center" layout-padding> 
		<div layout= "row" class="header-product" layout-align="space-around center" >
	    		<div  id="image-product" flex-sm="16" flex-gt-sm="20">
	    			<img itemprop="image" ng-src="https://{{cdn}}/images_products/{{product.hash_url_image}}.jpg" class="product-thumbnail" alt="{product.product_name}">
	    		</div>
		        <div id="product-info" layout="column"   flex-sm="50" flex-gt-sm="50">
						<div id="name-product" class="wordwrap"><h2 class="title" itemprop="name">{{product.product_name  }}</h2></div>
						<div id="brand-name" ><h3 class="sub-head" itemprop="brand">by {{product.brand_name}} </h3></div>
						<div class="ratings" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">    
							   <rating ng-model="product.product_stars"  readonly="true"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>
							   <meta itemprop="ratingValue" content="product.product_stars" >
							   <meta itemprop="ratingcount" content="product.number_reviews" >
		        		</div>
				</div>
		    	<div class="wrapper-rate-approval"   layout="column" layout-align="space-around center"  flex-gt-sm="20" >
				      <div class="repurchase-percent" > <span >{{ repurchase_again_percent | number:0 }}</span> <span>% </span></div>
					  <div class="approval-rate"> 
						  REPURCHASE
					  </div>
		        </div>   
	      </div>
	    </div>
	    
	    
	    
	    
	    
	   
	   
	    <!-- TEXT AREA INPUT -->
	    
	    
	    
	  
	    <div  ng-hide="hasReviewUser"  class="review-textarea hint-text" type="text"  placeholder="sdafs" disabled  ng-click="showAddReviewPanel()"> Add here your first review for this product!</div>


	    <!-- ALL COMMENTS -->
	    <div class="all-comments count-reviews "  layout="row" layout-padding> Reviews ({{product.reviews.length}}) </div>
	  

		<!-- LIST OF REVIEWS -->
		<md-list>
			<md-list-item  itemprop="review" itemscope itemtype="http://schema.org/Review" ng-repeat="review in product.reviews | orderBy:'-created_at'"  >
				<div class="review-item" layout="row"  layout-align="start start" flex="100" >
					<div class="md-list-item-image user-review-image"  ng-click="goProfile(review.user_id)" >
					<img ng-show="review.user.hash_url_image" ng-src="https://{{cdn}}/profile_images_{{enviroment}}/{{review.user.hash_url_image}}" class="md-avatar not-outline"> 
					<img  ng-hide="review.user.hash_url_image" ng-src="/assets/anonymousUser.png" class="md-avatar not-outline" > 
				</div>
					<div class="md-list-item-text review-text" layout="column" layout-align="start start">	
						<div class="header-review" layout="row" layout-align="space-between center" ng-click="goProfile(review.user_id)">	
							<div layout="row" layout-align="start center">
								 <img src="/assets/happy_cupcake.png" ng-show="review.repurchase" class="check-mark " alt="Repurchase again">
									<img src="/assets/sad_cupcake.png" ng-show="!review.repurchase" class="check-mark " alt="Repurchase again">

								<p class="user-name-review-product"  itemprop="author"> {{review.user.username}}</p>
								
							</div>
							<div class="date-review hint-text"> {{review.created_at | fromNow}}</div>
						</div>
						<div class="review-body margin-top-rem">
									<p class="wordwrap" itemprop="reviewBody">{{review.body}}</p>
						</div>
						<div class="footer-review" layout="row" class="margin-top-rem" layout-align="space-between center">
								<div class="ratings" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
									<rating ng-model="review.stars"  readonly="true"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>						
									<meta content="review.stars" itemprop="ratingValue">
								</div>
								<div class="thumbs-up" ng-click="incrementUpvotes(review)">
									<span   class="fa fa-thumbs-o-up" >  </span>
									<span> {{review.votes.length}} </span>
								</div> 
						</div>			
					</div>
				</div>
			</md-list-item>
		  </md-list>
	</div>
</md-card>
 
 
 
 
	