<md-dialog aria-label="Mango (Fruit)"> 
		 <md-toolbar>
	    <div class="md-toolbar-tools">
		   <h2> Message</h2>
	      <span flex></span>
	      <md-button class="md-icon-button" ng-click="closeDialog()" type="button">
	        <md-icon md-svg-src="/assets/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
	      </md-button>
	    </div>
	    </md-toolbar>
		<md-dialog-content>
		  	<md-input-container>
		     	Sign up to vote a review!
		   
		    </md-input-container>
		    <div layout="row" layout-align="end center" class="ng-scope">
                <md-button id="join-button" ng-click="showDialogRegister()" class="md-raised md-primary">Join</md-button>
          	</div>
		</md-dialog-content>
</md-dialog>