
$monte-carlo:#80CBC4;
$pink-color: #FFAABB;
$amatic-font: 'Amatic SC';
$josefin-sans: 'Josefin Sans',sans-serif;
$color-divider: #FDD1F0;
$monte-carlo:#80CBC4;
$lucida-grande: "Lucida Grande";



@media screen and (max-width: 960px) {
	
	/* GENERAL FONTS */
	html{
		font-size:12px;
	}
	.hint-text {font-size: 14px;}
	
	.home-page #search-bar-home-page md-autocomplete
	.not-home-page {	
		.products md-list .ratings {font-size:15px}	
		.ratings {font-size:15px;}
		.thumbs-up {font-size:15px;}
		
		
		.hint-text {font-size:15px;}
	}
	
	.home-page{
		header{padding:0px;}
		#search-bar-home-page md-autocomplete{width:100%;}
		.title-landing-page{margin-top:80px;}
		#search-bar-home-page{margin-top:50px;}
		.footer-review .ratings {font-size:15px}	
		.thumbs-up {font-size:15px;}
		.hint-text {font-size:15px;}
	}
	
	
	
	
	
    ui-view{padding-left:inherit;padding-right:inherit;width:auto;}
	
	
	#logo > div {width:32px; text-align:center;border:1px solid white;line-height: 32px;border-radius:16px;font-size:3.6rem;margin-top:8px;  }
	
	.not-home-page{ 
		#logo {position: relative;left:0px;top:0px;}
		form md-autocomplete{width:180px !important;}
	}
	
	
	
}





@media screen and (max-width: 600px) {
	
	/* GENERAL FONTS*/
	p{font-size:14px;line-height:16px;}	
	body {
		.mainNav .md-button {    font-size: 14px;position: relative;left: 10px;}
	}
	
	
	html{
		font-size:9px;
	}
	// product-info-row
	.row-product-info {
		
		.wrapper-rate-approval {width:69px; height:69px; border-radius:39.5px; margin-right:inherit;padding: 0px 0px;
			.approval-rate{font-size:1.4rem;}
			.repurchase-percent{font-size:inherit;font-size:3.5rem;}
		}
		#image-product { margin-left:0px;
			img{max-width: 82px;}
				
		}

		@extend .separate-stars;
		#product-info{padding-right:inherit;}
		md-divider{width:100%;margin-left:0px;}		
	}

							
	
	// *** HOME PAGE ***/
	.home-page{
		md-content{background-color: $monte-carlo;}
		ui-view{display:none}
		background-color:$monte-carlo;
		form md-autocomplete {width:100%;}
	
		
	}
	
	//*** NOT HOME PAGE ***/
	.not-home-page {
		.check-mark {margin-left:5px;}
		md-card {margin:0px;padding:5px;}
		md-content {margin-top:0px;}
		#search-bar-not-home-page {position:relative;left:-30px;}
		
		.list_products {
			md-list {
				md-list-item  {
					> button {
						.md-list-item-inner{
							@extend .row-product-info;
						}
					}
					
					
				}
				
			}
		}
		
		
		.products{
			.header-product {
				@extend .row-product-info;	
			}
			md-list{
				margin-left:0px;
				 md-list-item .md-no-style  {padding-left:0px ;}
			}
		}

		.profile{
			 md-list-item .md-no-style {padding-left:0px;}
			 md-list {
				 .review-item{
					 .user-review-image img{width:45px;height:45px;}
				 }
			 }
		}
	}
	
	
	
	
	
	.cropArea img-crop {max-width:320px;}
    md-dialog{width:100%;height:100%;max-width:100%;max-height:100%;}
    #login-button {display:none;}
	#progress-circular{display:none; z-index:1001;position:fixed;  left: 0;right: 0;margin: 0 auto;top:100px;}
	
	.products-list {
  
		#product-info {position: relative;top:auto; left:auto;font-family: $lucida-grande;line-height: 18px;}
		#image-product {margin-bottom:auto;margin-top:auto;margin-right: 20px;}
		 
	}
  
}





@media screen and (max-width: 960px) and (min-width: 600px) {
    .not-home-page {
	    	 .wrapper-rate-approval{width:120px !important; height:120px !important;
		    	 .approval-rate{font-size:20px !important;}
		    	 .repurchase-percent{font-size:40px !important;}
	    	 }
	    	 
	    .list_products {
			.md-list-item-inner{width:100%;margin-left:0px;}    
			md-divider {width:100% !important;margin-left:0px !important;}
		    
		}


	}	

}




