<md-dialog aria-label="Mango (Fruit)"> 
	<md-dialog-content class="sticky-container" ng-hide="successfulMessage">
		<div>
			
		  <form ng-submit="resetPassword()" ng-submit="resetPassword()">
		  	<md-input-container>
        		<label> Insert here your email </label>
        		<input type="email" ng-model="resetPasswordForm.email" ng-model-options="{ getterSetter: true }">
    		</md-input-container>
		   	<md-button class="md-raised md-primary">Send reset password instructions</md-button>
		  </form>
			
	
			<div ng-show="errors.emailNotFoundReset">
			  {{errors.emailNotFoundReset}}
			</div>
			<div  ng-show="successfulMessage">
			  {{successfulMessage}}
			</div>
		</div>
	</md-dialog-content> 
</md-dialog>
