<md-card layout-padding>
		<md-subheader class="md-sticky-no-effect">Reset password</md-subheader>
		<div>
		  <form ng-submit="changePassword(changePasswordForm)" >
		
		
		  	<md-input-container>
		        <label> New password </label>
		        <input ng-model="changePasswordForm.newPassword" required>
		    </md-input-container>
			<md-input-container>
		        <label> Confirm new password </label>
		        <input ng-model="changePasswordForm.confirmPassword" required>
		    </md-input-container>
		    <md-button  type='submit' class="md-raised md-primary" md-theme="cyan">Reset Password</md-button>
			<div ng-show="errors.errorReset">
			  {{errors.errorReset}}
			</div>
			<div  ng-show="successfulMessage">
			  {{successfulMessage}}
			</div>
		  </form>
		</div>
</md-card>